<!-- Здесь выводятся компоненты по роутингу если нет глобальной ошибки -->
{{if eq $.Stats.State 0}}
<div class="m-2">
  <span class="text-primary">Коды CIS для анализа:</span>
  <button class="btn btn-outline btn-default"
          hx-get="/stats/file" hx-trigger="click" hx-target="#page" hx-swap="innerHTML">
    Выберите файл
  </button>
</div>
{{end}}
{{if eq $.Stats.State 1}}
  <div>
    <span class="p-1 text-primary">Выбран файл:</span>
    <span>{{ $.Stats.File }}</span>
  </div>
  <div class="m-2">
    <button class="btn btn-outline btn-default"
            hx-get="/stats/search" hx-trigger="click" hx-target="#page" hx-swap="innerHTML" hx-indicator="#di-1">
      Обработка
    </button>
    <button class="btn btn-outline btn-default"
            hx-get="/stats/reset" hx-trigger="click" hx-target="#page" hx-swap="innerHTML">
      Сброс
    </button>

  </div>
{{end}}
{{if eq $.Stats.State 2}}
  <div>
    <span class="p-1 text-primary">Выбран файл:</span>
    <span >{{ $.Stats.File }}</span>
  </div>
<div hx-get="/stats/progress" hx-trigger="every 300ms" hx-target="this" hx-swap="innerHTML"></div>
<div class="m-2">
  <button class="btn btn-outline btn-default"
          hx-get="/stats/reset" hx-trigger="click" hx-target="#page" hx-swap="innerHTML">
    Сброс
  </button>
</div>
{{end}}
{{if eq $.Stats.State 3}}
  <div class="w-full mb-2">
  <button class="btn btn-outline btn-default"
          hx-get="/stats/reset" hx-trigger="click" hx-target="#page" hx-swap="innerHTML">
    Сброс
  </button>
  <table class="w-1/2 ml-1 border border-collapse">
    <caption>Статусы КМ</caption>
    <col style="width:20%">
    <col style="width:10%">
    <col style="width:10%">
    <tbody>
    {{range $ci, $cisCount := $.Stats.CisStatus }}
    <tr class="text-xs">
      <td class="pl-1 border">{{$ci}}</td>
      <td class="text-base pl-1 border">{{$cisCount}}</td>
      <td class="text-base pl-1 border">
        <button hx-get="/stats/excel/{{$ci}}" hx-trigger="click" hx-target="#excel-result" hx-swap="innerHTML">Выгрузить</button>
      </td>
    </tr>
    {{end}}
    </tbody>
  </table>
  <div id="excel-result"></div>
  </div>
{{end}}
