@media print {
  thead {display: table-header-group;}
  body, page {
    margin: 10;
    box-shadow: 0;
  }
  .no-print, .no-print *
  {
      display: none !important;
  }
}
page {
  background: white;
  display: block;
  margin: 0 auto;
}
page[size="A4"][layout="portrait"] {
  width: 21cm;
  height: 29.7cm;
}
page[size="A4"] {
  width: 29.7cm;
  height: 21cm;
}
html,body {
  padding:0;
  margin:0;
  color:black;
}
body {
  /* font-family: Roboto, Arial, sans-serif !important; */
  /* font-family: "Lucida Console", monospace !important; */
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Roboto Condensed', sans-serif;
  /* font-size: 10pt;
  font-weight: 200; */
  margin: 0;
  padding: 0;
  background-color: white;
  /* overflow: hidden; */
}
.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}
/* .box {
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box a {
  padding: 15px;
  background-color: #fff;
  border-radius: 3px;
  text-decoration: none;
} */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(51, 49, 49, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
}
.content {
  position: relative;
  background: white;
  padding: 1em 2em;
  border-radius: 4px;
}
.modal:target {
  display: flex;
}
.htmx-indicator {
    opacity:0.5;
    transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator{
    opacity:1
}
.htmx-request.htmx-indicator{
    opacity:1
}
