    <!-- Заголовок окна -->
    <div class="flex h-6 w-screen bg-primary-content items-center no-print">
    {{ template "navbar" .Home }}
    </div>
    <!-- Центр с боковыми панелями -->
        <div id="content" class="relative w-full overflow-hidden" style="height: calc(100vh - 5rem);">
          <!-- Здесь выводятся компоненты по роутингу если нет глобальной ошибки -->
    {{ template "page" .Home }}
        </div>
    <!-- Футтер -->
    <div class="absolute bg-green-200 no-print" style="top: calc(100vh - 2.5rem); right: 0; bottom: 0; left: 0;">
    {{ template "footer" .Gui.MainWindow.StatusBar}}
    </div>
