<!-- Здесь выводятся компоненты по роутингу если нет глобальной ошибки -->
<!-- domain. -->
<div id="page">
  <div class="ml-2">
    {{if .TokenGIS}}<span class="text-primary">Токен ГИС:</span><span class="">{{printf "%.40s" .TokenGIS}}...</span><br>{{end}}
    {{if .TokenSUZ}}<span class="text-primary">Токен СУЗ:</span><span class="">{{printf "%.40s" .TokenSUZ}}</span><br>{{end}}
    {{if not .AuthTime.IsZero }}<span class="text-primary">Время получения:</span><span class="">{{printf "%.19s" .AuthTime}}</span><br>{{end}}
  </div>
{{if .PingSuz}}
  <div class="ml-2">
    <span class="text-primary">API Version:</span><span>{{.PingSuz.ApiVersion}}</span><br>
    <span class="text-primary">SUZ Version:</span><span>{{.PingSuz.OmsVersion}}</span><br>
  </div>
{{end}}
  <form hx-post="/setup/save" hx-target="#page" hx-swap="outerHTML">
      {{ template "omsid" . }}
      {{ template "deviceid" . }}
      <div class="pl-4 flex items-center gap-2">
          <span class="text-primary">КЭП:</span>
          <select class="w-2/3 select select-bordered" name="hashkey">
  {{ range $j, $row := $.MyStore }}
  {{if eq $.HashKey $j}}
            <option value="{{$j}}" selected>{{$row}}</option>
  {{else}}          
            <option value="{{$j}}">{{$row}}</option>
  {{end}}
  {{end}}
          </select>
      </div>
    <div class="m-4">
        <button class="btn btn-outline btn-primary">Сохранить</button>
    </div>
  </form>
</div>
