<html>
    <head>
      <meta charset="UTF-8" />
      <!--
        * 204 No Content by default does nothing, but is not an error
        * 2xx, 3xx and 422 responses are non-errors and are swapped
        * 4xx & 5xx responses are not swapped and are errors
        * all other responses are swapped using "..." as a catch-all
      -->
      <meta
        name="htmx-config"
        content='{
              "responseHandling":[
                  {"code":"204", "swap": false},
                  {"code":"[23]..", "swap": true},
                  {"code":"422", "swap": true},
                  {"code":"[45]..", "swap": false, "error":true},
                  {"code":"...", "swap": true}
              ]
          }'
      />
      <title>Список Датаматрикс</title>
			<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png"/>
			<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png"/>
			<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png"/>
			<link rel="manifest" href="/assets/favicon/site.webmanifest"/>
  <link rel="stylesheet" type="text/css" href="/assets/css/roboto.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/roboto_condenced.css">
</head>
<body>
  <page size="1in 1in">
    <div class="w-full" >
          {{range $ci, $cis := $.CisFindInfoIn }}
          {{if $cis.CodeFNS}}
              <div class="w-full border flex flex-row">
                <div class="" 
                  _="on load put DATAMatrix({ msg:'{{$cis.CodeFNS}}',dim:100,rct:0,pad:2,pal:['#000000','#ffffff'],vrb:0}) into me">
                </div>
                <!-- <div>
                    <span>{{$cis.Root}}</span><br>
                    <span>{{$cis.Dir}}</span><br>
                    <span>{{$cis.Name}}</span>
                </div> -->
              </div>
            {{end}}
          {{end}}
      </div>
  </page>
<script src="/assets/js/tailwind.js"></script>
<script src="/assets/js/datamatrix.js"></script>
<script src="/assets/js/hyperscript.min.js"></script>
</body>
</html>
