<div id="blocks" class="flex flex-col" style="height:calc(100vh - 8rem); width: {{$.Columns.MaxWidth}}px;">
        <div class="">
          <table class="table-fixed w-full">
{{- range $.Columns.VisibleColumns }}
            <col class="{{ .WidthClass }}">
{{- end }}
            <col class="w-0.5">
            <thead class="border">
              <tr class="text-sm divide-x">
{{- range $.Columns.VisibleColumns }}
                <th class="text-center"><b>{{ .Header }}</b></th>
{{- end }}
                <th></th>
              </tr>
              <tr class="text-xs divide-x">
{{- range $.Columns.VisibleColumns }}
                <th class="text-center">
                  <input class="p-2 w-full border" type="text" name="query"
                    hx-get="/input"
                    hx-trigger="keyup changed delay:500ms"
                    hx-target="#ttns"
                    hx-vals='{ "id": "{{ .Name }}" }'
                    placeholder="текст...">
                </th>
{{- end }}
                <th></th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="overflow-scroll">
        <table class="table-fixed w-full">
{{- range $.Columns.VisibleColumns }}
            <col class="{{ .WidthClass }}">
{{- end }}
          <tbody id="ttns" class="font-normal text-xs">
            {{ template "blocks" . }}
          </tbody>
        </table>
        </div>
</div>

