<html>
    <head>
      <title>ТТН</title>
			<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png"/>
			<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png"/>
			<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png"/>
			<link rel="manifest" href="/assets/favicon/site.webmanifest"/>
  <link rel="stylesheet" type="text/css" href="/assets/css/roboto.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/roboto_condenced.css">
			<script src="/assets/js/tailwind.js"></script>
			<script src="/assets/js/htmx.min.js"></script>
      {{ template "style"}}
    </head>
    <body>
      <div id="main" class="h-full flex flex-col" style="width: {{$.Columns.MaxWidth}}px;">
        {{ template "select-columns" $.Columns.AllColumns}}
        <div class="">
          <table class="table-fixed w-full">
{{- range $.Columns.VisibleColumns }}
            <col class="{{ .WidthClass }}">
{{- end }}
            <col class="w-0.5">
            <thead class="border">
              <tr class="text-sm divide-x">
{{- range $.Columns.VisibleColumns }}
                <th class="text-center"><b>{{ .Header }}</b></th>
{{- end }}
                <th></th>
              </tr>
              <tr class="text-xs divide-x">
{{- range $.Columns.VisibleColumns }}
                <th class="text-center">
                  <input class="p-2 w-full border" type="text" name="query"
                    hx-get="/input"
                    hx-trigger="keyup changed delay:500ms"
                    hx-target="#ttns"
                    hx-vals='{ "id": "{{ .Name }}" }'
                    placeholder="текст...">
                </th>
{{- end }}
                <th></th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="overflow-y-auto">
        <table class="table-fixed w-full">
{{- range $.Columns.VisibleColumns }}
            <col class="{{ .WidthClass }}">
{{- end }}
          <tbody id="ttns" class="font-normal text-xs">
            {{ template "blocks" . }}
          </tbody>
        </table>
        </div>
      </div>
  </body>
</html>

