@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  /*  font-family: 'Roboto', Helvetica, Arial, sans-serif !important;*/
  font-family: 'Roboto-Condensed', Helvetica, Arial, sans-serif !important;
  font-size: 16px;
  font-weight: 300;
  /*  font-family: "Inconsolata", "Lucida Console", monospace !important;*/
  height: 100vh;
  background-color: white;
  /*  padding-top: 45px !important;*/
  /* overflow: auto; */
}

header {
  min-height: 50px;
  /* background: rgb(40, 146, 146); */
}

footer {
  min-height: 50px;
  /* background: rgb(233, 206, 164); */
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local(""),
  url("../fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

@keyframes grow-x {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes shrink-x {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}

::view-transition-old(main-header),
::view-transition-new(main-header) {
  height: auto;
  right: 0;
  left: auto;
  transform-origin: right center;
}
::view-transition-image-pair(root) {
  isolation: auto;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
  display: block;
}

.main-header {
  view-transition-name: main-header;
}

.nonvisible {
  display: none;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(51, 49, 49, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
}
.content {
  position: relative;
  background: white;
  padding: 1em 2em;
  border-radius: 4px;
}
.modal:target {
  display: flex;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}
